.ios, .md {

	page-home {

		.scroll-content {
			display: flex;
			background-color: #fff;
			background-image: url(https://images.unsplash.com/photo-1479722842840-c0a823bd0cd6?auto=format&fit=crop&w=1952&q=80);
			background-size: cover;
		}

		ion-grid {
			justify-content: center;
		}

		ion-col {
			margin: 20px 0;
		}

		.front, .back {
			background-color: #d83313;
			border: 2px dashed #fff;
			color: #fff;
		}

		.flash-card-front {
			font-weight: bold;
			font-size: 1.3em;
		}

		.flash-card-back {
			padding: 10px;
			text-align: center;
		}

	}

}